<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-pending-transaction-heading" jhiTranslate="truffleSampleApplicationApp.pendingTransaction.home.createOrEditLabel">Create or edit a Pending Transaction</h2>
            <div>
                <!--alert-error></alert-error-->
                <div class="form-group" [hidden]="!pendingTransaction.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pendingTransaction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="truffleSampleApplicationApp.pendingTransaction.sender" for="field_sender">Sender</label>
                    <input type="text" class="form-control" name="sender" id="field_sender"
                        [(ngModel)]="pendingTransaction.sender" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="truffleSampleApplicationApp.pendingTransaction.receiver" for="field_receiver">Receiver</label>
                    <input type="text" class="form-control" name="receiver" id="field_receiver"
                        [(ngModel)]="pendingTransaction.receiver" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="truffleSampleApplicationApp.pendingTransaction.tokenQuantity" for="field_tokenQuantity">Token Quantity</label>
                    <input type="number" class="form-control" name="tokenQuantity" id="field_tokenQuantity"
                        [(ngModel)]="pendingTransaction.tokenQuantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="truffleSampleApplicationApp.pendingTransaction.transactionHash" for="field_transactionHash">Transaction Hash</label>
                    <input type="text" class="form-control" name="transactionHash" id="field_transactionHash"
                        [(ngModel)]="pendingTransaction.transactionHash" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="truffleSampleApplicationApp.pendingTransaction.image" for="field_image">Image</label>
                    <select class="form-control" id="field_image" name="image" [(ngModel)]="pendingTransaction.image" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imageOption.id === pendingTransaction.image?.id ? pendingTransaction.image : imageOption" *ngFor="let imageOption of images; trackBy: trackImageById">{{imageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
